<!-- <div class="login">
  <h1>Iniciar sesión</h1>
  <form [formGroup]="form">
    <input
      type="text"
      name="u"
      placeholder="Usuario"
      required="required"
      formControlName="usuario"
    />
    <input
      type="password"
      name="p"
      placeholder="Contraseña"
      required="required"
      formControlName="contrasena"
    />
    <button type="submit" class="btn btn-primary btn-block btn-large" (click)="enviarSesion()">
      Iniciar Sesión
    </button>
  </form>
</div>
 -->
<div class="row">
  <div class="col-6 mx-auto" style="background: red;">
    <div class="card">
      <img src="assets\images\ImagenesPaginaWeb\logoCircular.jpg" alt="" class="img-logo">
    </div>
  </div>

</div>
